asgiref==3.7.2
certifi==2023.11.17
chardet==4.0.0
Django==3.2.5
idna==2.10
python-decouple==3.8
pytz==2023.3.post1
requests==2.25.1
sqlparse==0.4.4
typing_extensions==4.8.0
urllib3==1.26.18
whitenoise==5.2.0
