{% load static %}
<nav class="navbar bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Weather
      <img src="{% static 'weather.png' %}"
           alt=""
           width="40"
           height="40"
           class="d-inline-block align-text-top" />
    </a>
    <div class="d-flex">
      <p>
        <a href="https://arvind11.vercel.app"
           target="_blank"
           class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Arvind A</a>
      </p>
    </div>
  </div>
</nav>
